/node_modules
/public/css
/public/js
/public/hot
/public/vendors
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
